<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registro de Compra</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>

    <div class="card">

        <div class="card-header text-center">
            <h1>Registro de Compra</h1>
        </div>

        <form id="purchase-form" action="/registroCompra" method="post">

            <div class="card-body">

                <div class="col-lg-6 col-md-6 col-sm-12">
                    <label for="name">Nombre del Producto:</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>

                <div class="col mt-2">
                    <label for="amount">Cantidad:</label>
                    <input type="number" class="form-control" id="amount" name="amount" required>
                </div>

                <div class="col mt-2">
                    <label for="price_unit">Precio Unidad:</label>
                    <input type="number" class="form-control" id="price_unit" name="price_unit" required>
                </div>

            </div>

            <div class="card-footer text-center">
                <button type="submit" class="btn-css">Registrar Compra</button>
            </div>

        </form>

    </div>

    <div class="text-center mt-3">
        <a href="/registros">
            <button type="submit"  class="btn-css">Volver</button>
        </a>
    </div>

    <div class="d-flex justify-content-end m-3">
        <a href="/inventario/productosInventario">
            <button type="submit" class="btn-css">Ir a inventario</button>
        </a>
    </div>

    <script>
        document.getElementById('purchase-form').addEventListener('submit', async (event) => {
            event.preventDefault();
            const formData = new FormData(event.target);
            const data = {
                name: formData.get('name'),
                amount: parseInt(formData.get('amount')),
                price_unit: parseInt(formData.get('price_unit'))
            };

            const response = await fetch('/registroCompra', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            });

            const result = await response.json();

            if( result == "Se actualizo la cantidad de productos en el inventario y se registro la compra" ) {

                Swal.fire({
                    icon: "success",
                    title: "¡Todo salio bien!",
                    text: result,
                    showConfirmButton: false,
                    timer: 2500
                })

            } else if ( result == "Producto creado y compra registrada" ) {

                Swal.fire({
                    icon: "success",
                    title: "¡Todo salio bien!",
                    text: result,
                    showConfirmButton: false,
                    timer: 2500
                })

            } else {

                Swal.fire({
                    icon: "warning",
                    title: "¡Opps algo salio mal!",
                    text: result,
                    showConfirmButton: false,
                    timer: 2500
                })

            }

        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/static/js/bootstrap.min.js"></script>

</body>
</html>
