<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registro de Venta</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>

    <div class="card">
        <form id="sale-form" action="/registroVenta" method="post">

            <div class="card-header">
                <div class="d-flex justify-content-center mb-3">
                    <h1>Registro de Venta</h1>
                </div>
            </div>

            <div class="card-body">

                <div id="products-container">
                    <div class="product" style="padding: 20px">
                        <div class="row mb-1">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <label for="product-select-1">Seleccionar Producto:</label>
                                <select id="product-select-1" class="product-select form-control">
                                    <option value="">Selecciona un producto</option>
                                </select>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <label for="name">Nombre del Producto:</label>
                                <input type="text" class="form-control" id="name" name="name" required readonly>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <label for="code">Código:</label>
                                <input type="number" class="form-control" id="code" name="code" required readonly>
                            </div>

                            <div class="col">
                                <label for="price">Precio:</label>
                                <input type="number" class="form-control" id="price" name="price" required readonly>
                            </div>

                            <div class="col">
                                <label for="amount">Cantidad:</label>
                                <input type="number" class="form-control amount" id="amount" name="amount" required>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-rounded btn-info" onclick="addProduct()">Agregar Producto</button>

                    <div class="valorTotal" style="margin-left: 5%">
                        <h3>Total: $<span id="total-span"> 0</span></h3>
                        <input type="hidden" id="total" name="total">
                    </div>
                </div>

            </div>

            <div class="card-footer text-center">
                <button type="submit" class="btn btn-rounded btn-success">Registrar Venta</button>
            </div>

        </form>
    </div>

    <div class="text-center mt-3">
        <a href="/registros">
            <button type="submit"  class="btn btn-rounded btn-info">Volver</button>
        </a>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/static/js/bootstrap.min.js"></script>

    <script>
        async function fetchProducts() {
            const response = await fetch('/productos');
            return response.json();
        }

        async function loadProducts(id) {
            const select = document.getElementById(id);
            const products = await fetchProducts();

            products.forEach(product => {
                const option = document.createElement('option');
                option.value = JSON.stringify(product);
                option.text = product.name;
                select.appendChild(option);
            });
        }

        function addProduct() {
            const container = document.getElementById('products-container');
            const productDiv = document.createElement('div');
            let idSelectNew = document.getElementsByClassName('product-select').length + 1;

            productDiv.classList.add('product');
            productDiv.classList.add('row');
            productDiv.style.padding = "20px";

            productDiv.innerHTML = `
                <div class="row mb-1">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <label for="product-select-${idSelectNew}">Seleccionar Producto:</label>
                        <select id="product-select-${idSelectNew}" class="product-select form-control">
                            <option value="">Selecciona un producto</option>
                        </select>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <label for="name">Nombre del Producto:</label>
                        <input type="text" class="form-control" id="name" name="name" required readonly>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label for="code">Código:</label>
                        <input type="number" class="form-control" id="code" name="code" required readonly>
                    </div>

                    <div class="col">
                        <label for="price">Precio:</label>
                        <input type="number" class="form-control" id="price" name="price" required readonly>
                    </div>

                    <div class="col">
                        <label for="amount">Cantidad:</label>
                        <input type="number" class="form-control amount" id="amount" name="amount" required>
                    </div>
                </div>
            `;

            container.appendChild(productDiv);

            loadProducts("product-select-" + idSelectNew);
            attachSelectListener(productDiv);
        }

        function attachSelectListener(productDiv) {
            const select = productDiv.querySelector('.product-select');
            select.addEventListener('change', () => {
                const selectedProduct = JSON.parse(select.value);
                productDiv.querySelector('[name="name"]').value = selectedProduct.name;
                productDiv.querySelector('[name="code"]').value = selectedProduct.code;
                productDiv.querySelector('[name="price"]').value = selectedProduct.price_sale;
            });
        }

        document.getElementById('products-container').addEventListener('input', (event) => {
            if (event.target.classList.contains('amount')) {
                const products = [];
                const productElements = document.querySelectorAll('.product');

                productElements.forEach((element) => {
                    let amount = element.querySelector('[name="amount"]').value == "" ? 0 : element.querySelector('[name="amount"]').value;
                    products.push({
                        price: parseInt(element.querySelector('[name="price"]').value),
                        amount: parseInt(amount)
                    });
                });

                const total = products.reduce((total_sale, element) => total_sale + (element.price * element.amount), 0);

                document.getElementById("total-span").textContent = total;
                document.getElementById("total").value = total;
            }
        });

        document.getElementById('sale-form').addEventListener('submit', async (event) => {
            event.preventDefault();
            const formData = new FormData(event.target);
            const products = [];
            const productElements = document.querySelectorAll('.product');
            const total_sale = parseInt(document.getElementById("total").value);

            productElements.forEach((element) => {
                products.push({
                    name: element.querySelector('[name="name"]').value,
                    code: parseInt(element.querySelector('[name="code"]').value),
                    price: parseInt(element.querySelector('[name="price"]').value),
                    amount: parseInt(element.querySelector('[name="amount"]').value),
                    total: parseInt(element.querySelector('[name="price"]').value) * parseInt(element.querySelector('[name="amount"]').value)
                });
            });

            const data = {
                products,
                total_sale
            };

            const response = await fetch('/registroVenta', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            });

            const result = await response.json();

            Swal.fire({
                icon: result == "Venta creada" ? "success" : "warning",
                title: result == "Venta creada" ? "¡Todo salio bien!" : "¡Opps algo salio mal!",
                text: result,
                showConfirmButton: false,
                timer: 2500
            })
        });

        loadProducts("product-select-1");
        attachSelectListener(document.querySelector('.product'));
    </script>
</body>
</html>
