<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Compraventa</title>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/static/css/styles.css">
    </head>
    <body>

        <div>

            <div class="card-header mt-3 text-center">
                <h1 class="jumbotron-heading">COMPRAVENTA</h1>
                <p class="lead text-muted">Bienvenido a la compraventa de Marcela!</p>
            </div>

            <div class="container row m-3">

                <div>

                    <a href="/registros" id="card-1" class="card col m-2 text-center text-decoration-none">
                        <div>
                            Registros
                        </div>
                    </a>


                    <a href="/inventario" id="card-2" class="card col m-2 text-center text-decoration-none">
                        <div>
                            Inventario
                        </div>
                    </a>

                    <a href="/indicadores" id="card-3" class="card col m-2 text-center text-decoration-none">
                        <div>
                            Indicadores
                        </div>
                    </a>

                </div>

            </div>

        </div>



        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="/static/js/bootstrap.min.js"></script>
    </body>
</html>
