<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Compraventa</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>

    <div>

        <div class="card-header mt-3 text-center">
            <h1>Registros de ventas y compras</h1>
        </div>

        <div class="container row m-3">

            <a href="/inventario/productosInventario" id="card-1" class="card col m-2 text-center text-decoration-none">
                <div class="d-flex justify-content-around">
                    Ver productos <iconify-icon icon="line-md:check-list-3" width="24" height="24"  style="color: black"></iconify-icon>
                </div>
            </a>

            <a href="/inventario/registroProd" id="card-2" class="card col m-2 text-center text-decoration-none">
                <div class="d-flex justify-content-around">
                        Registrar producto <iconify-icon icon="healthicons:register-book" width="24" height="24"  style="color: black"></iconify-icon>
                </div>
            </a>

            <a href="/inventario/precioVenta" id="card-3" class="card col m-2 text-center text-decoration-none">
                <div class="d-flex justify-content-around">
                    Actualizar precio de venta <iconify-icon icon="lucide:edit" width="24" height="24"  style="color: black"></iconify-icon>
                </div>
            </a>

        </div>

        <div class="card-footer">
            <div class="text-center mb-4">
                <a href="/">
                    <button type="submit" id="button" class="btn-css">Volver</button>
                </a>
            </div>
        </div>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@2.1.0/dist/iconify-icon.min.js"></script>

</body>
</html>
