<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Actualizar Precio de Venta</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>

    <div class="card">

        <form id="update-price-sale-form">

            <div class="card-header">
                <div class="d-flex justify-content-center mb-3">
                    <h1>Actualizar Precio de Venta</h1>
                </div>
            </div>

            <div class="card-body">

                <div class="row">

                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <label for="product-select">Seleccionar Producto:</label>
                        <select id="product-select" class="product-select form-control">
                            <option value="">Selecciona un producto</option>
                        </select>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <label for="name">Nombre del Producto:</label>
                        <input type="text" class="form-control" id="name" name="name" required readonly>
                    </div>

                </div>

                <div class="row">
                    <div class="col">
                        <label for="code">Código:</label>
                        <input type="number" class="form-control" id="code" name="code" required readonly>
                    </div>

                    <div class="col">
                        <label for="price">Precio:</label>
                        <input type="number" class="form-control" id="price" name="price" required readonly>
                    </div>

                    <div class="col">
                        <label for="new_price">Nuevo Precio:</label>
                        <input type="number" class="form-control" id="new_price" name="new_price" required>
                    </div>

                </div>

            </div>

            <div class="card-footer text-center">
                <button type="submit"  class="btn btn-rounded btn-success">Actualizar Precio</button>
            </div>

        </form>

    </div>

    <div class="text-center mt-3">
        <a href="/inventario">
            <button type="submit"  class="btn btn-rounded btn-info">Volver</button>
        </a>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/static/js/bootstrap.min.js"></script>

    <script>
        async function fetchProducts() {
            const response = await fetch('/productos');
            return response.json();
        }

        async function loadProducts(id) {
            const select = document.getElementById(id);
            const products = await fetchProducts();
            console.log(products);

            products.forEach(product => {
                const option = document.createElement('option');
                option.value = JSON.stringify(product);
                option.value = product._id.$oid;
                option.text = product.name;
                option.dataset.code = product.code;
                option.dataset.price = product.price_sale;
                select.appendChild(option);
            });
        }

        document.getElementById('product-select').addEventListener('change', function() {
            const selectedOption = this.options[this.selectedIndex];
            document.getElementById('name').value = selectedOption.text;
            document.getElementById('code').value = selectedOption.dataset.code;
            document.getElementById('price').value = selectedOption.dataset.price;
        });

        document.getElementById('update-price-sale-form').addEventListener('submit', async (event) => {
            event.preventDefault();
            const productId = document.getElementById('product-select').value;
            const newPrice = document.getElementById('new_price').value;

            const response = await fetch(`/actualizarPrecioVenta/${productId}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ price_sale: parseInt(newPrice) })
            });

            const result = await response.json();

            Swal.fire({
                icon: result == "Precio de venta del producto actualizado" ? "success" : "warning",
                title: result == "Precio de venta del producto actualizado" ?
                                    "¡Actualizado!" : "¡No se pudo actualizar!",
                text: result,
                showConfirmButton: false,
                timer: 2500
            });

        });

        fetchProducts();
        loadProducts("product-select");
    </script>
</body>
</html>
