<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inventario</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>

    <div>

        <div class="card-header mt-3 text-center">
            <h1 class="jumbotron-heading">Inventario</h1>

            <div class="d-flex justify-content-around mt-3 mb-1">
                <a href="/registros/registrarCompra" class="text-decoration-none">
                    <button type="submit" class="btn-css">Agregar compra</button>
                </a>

                <a href="/inventario/registroProd">
                    <button type="submit" class="btn-css">Agregar producto</button>
                </a>

                <a href="/inventario">
                    <button type="submit"  class="btn-css">Volver</button>
                </a>
            </div>
        </div>


        <div class="card-body">
            <div class="row d-flex justify-content-center">

                {% for prod in products %}
                    <div id="inventory" class="card col-3 m-1 p-3">
                        <div class="card-header text-center">
                            <h3>{{ prod.name }}</h3>
                        </div>

                        <div class="card-body">
                            <p><b>Código:</b> {{ prod.code }}</p>
                            <p><b>Cantidad:</b> {{ prod.amount }}</p>
                            <p><b>Precio:</b> {{ prod.price_sale }}</p>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/static/js/bootstrap.min.js"></script>

</body>
</html>
